<GameConfig><isopen>open</isopen><ratio>100</ratio><doff>4</doff><unit>hour</unit><distance>1</distance><type>day</type><degree>8</degree><money>1</money></GameConfig>                                                                                                                                                                                                                                                                                                                                                                                                                                